<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/user.js') }}" defer></script>
    <script>
        // check if user is already logged in
        document.addEventListener('DOMContentLoaded', function () {
            const token = localStorage.getItem('token');
            if (token) {
                fetch('/api/user/me', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ token: token })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.user) {
                            window.location.href = '/chat';
                        }
                    });
            }
        });
    </script>
</head>

<body>
    <div class="login-container">
        <h2>登入</h2>
        <form id="login_form" onsubmit="event.preventDefault(); login();">
            <div class=login_container>
                <div class="form-group">
                    <input type="text" id="username" name="username" placeholder="輸入帳號" required>
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" placeholder="輸入密碼" required>
                </div>
                <button id="login-button" onclick="login()">登入</button>
            </div>
        </form>
    </div>
    <br></br>
    <div class="register-redirect">
        <p>還沒有帳號嗎？<a href="/register">點此註冊</a></p>
    </div>
</body>

</html>